* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  text-align: center;
  height: 100%;
}
/* デフォルトの余白を消す */
h1, ul {
  margin: 0;
  padding: 0;
}
/* リストマーカー（・）を非表示 */
li {
  list-style: none;
}
/* アンダーバーを非表示 */
a {
  text-decoration: none;
}
/* footerのposition:absoluteの基準となる親要素 */
.container {
  min-height: 100%;
  position: relative;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  /* .main-header img {position: absolute;}の基準 */
  position: relative;
}
/* ここから */
header {
  /* 高さを指定 */
  height: 50px;
  /* 背景色を指定 */
  background-color: #2B2B2B;
}
header ul a {
  /* フォントの色を指定 */
  color: #fff;
  /* ブロックレベル要素にする */
  display: block;
  /* 余白を指定 */
  padding: 17px;
}
header li {
  /* 幅を子要素に依存させる */
  width: auto;
}
header .left {
  /* 浮かせて左に寄せる */
  float: left;
}
header .right {
  /* 浮かせて右に寄せる */
  float: right;
}
/* ここまでがheader部分の実装 */
.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
/* 幅を指定 */
  width: 13%;
  /* 画像を背景画像の上下左右中央に配置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.about {
/* About Achieve部分の実装 */
/* 下の余白を指定 */
padding-bottom: 16px;
}
.about_header {
  /* 文字サイズを指定 */
  font-size: 1.5rem;
  /* 上の余白を指定 */
  padding-top: 30px;
}
.about p {
  /* 文字サイズを指定 */
  font-size: 0.8rem;
}
/* ここから */
.function {
  /* 背景色を指定 */
  background-color: #D3D3D3;
  /* 下の余白を指定 */
  padding-bottom: 70px;
}
.function-images {
  /* 中央揃え */
  width: 760px;
  margin: 0 auto;
  /* 上の余白を指定 */
  padding-top: 30px;
}
.function-image {
  width: 190px;
  /* 浮かせて左へ寄せる */
  float: left;
  /* 余白を指定 */
  padding: 0 30px;
}
/* ここまでがfunction部分の実装 */
footer {
/* footer部分の実装 */
  /* 高さを指定 */
  height: 70px;
  /* 背景色を指定 */
  background-color: #283A4B;
  /* 画面最下部にwidth100%で表示 */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* display:table */
  display: table;
}
footer p {
  font-size: 0.8rem;
  color: #fff;
  /* tableセルにしてvertical-alignを効かせる */
  display: table-cell;
  vertical-align: middle;
}
/* clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
